@use "govuk-frontend" as *;

.app-service-banner {
  display: block;
  background: govuk-colour("yellow");
  color: govuk-colour("black");

  @include govuk-responsive-padding(2, "top");
  @include govuk-responsive-padding(2, "bottom");

  &__content {
    margin: 0;
  }

  .govuk-warning-text__text {
    font-weight: $govuk-font-weight-regular;
  }

  .govuk-skip-link:active + &,
  .govuk-skip-link:focus + & {
    // Ofset service banner from skip link
    margin-top: $govuk-border-width + $govuk-focus-width;
  }
}
