@use "govuk-frontend" as *;
@use "pkg:accessible-autocomplete";
@use "summary-list";
@use "prose";

// Use default GDS Transport font for autocomplete
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  @include govuk-typography-common;
}

.dxt-announcement-bar {
  background: #ffcc00;
  text-align: center;
  padding: 0.5rem;

  p {
    margin: 0;
  }
}
