NODE_ENV=development
PORT=3009
ENVIRONMENT=local
ENFORCE_CSRF=true
SERVICE_VERSION=
PHASE_TAG=beta

SESSION_TIMEOUT=86400000
CONFIRMATION_SESSION_TIMEOUT=1200000
SESSION_COOKIE_PASSWORD=
SESSION_COOKIE_TTL=2419200000
REDIS_PASSWORD=
REDIS_USERNAME=default
REDIS_HOST=localhost
REDIS_KEY_PREFIX=forms-runner
TRACING_HEADER=x-cdp-request-id
AWS_REGION=eu-west-2
MANAGER_URL=http://localhost:3001
BASE_URL=http://localhost:3009

NOTIFY_TEMPLATE_ID=
NOTIFY_API_KEY=
FEEDBACK_LINK=

DESIGNER_URL=http://localhost:3000
SUBMISSION_URL=http://localhost:3002
UPLOADER_BUCKET_NAME=
UPLOADER_URL=http://uploader.127.0.0.1.sslip.io:7300

GOOGLE_ANALYTICS_TRACKING_ID=
GOOGLE_ANALYTICS_CONTAINER_ID=

USE_SINGLE_INSTANCE_CACHE=true

SNS_ENDPOINT=http://localhost:4566
SNS_ADAPTER_TOPIC_ARN=
SNS_SAVE_TOPIC_ARN=
SNS_FORM_TOPIC_ARN_MAP=

LOG_ENABLED=true
LOG_LEVEL=debug
LOG_FORMAT=pino-pretty
SAFELIST='["61bca17e-fe74-40e0-9c15-a901ad120eca.mock.pstmn.io"]'
STAGING_PREFIX=staging
SERVICE_BANNER_TEXT=
GOOGLE_TAG_MANAGER_CONTAINER_ID=
SAVE_AND_EXIT_EXPIRY_IN_DAYS=28
STORE_COMPLETED_APPLICATIONS_FOR=9 months
STORE_FEEDBACK_FOR=9 months
ORDNANCE_SURVEY_API_KEY=
ORDNANCE_SURVEY_API_SECRET=
USE_MAPS_FEATURE=false
FEEDBACK_VIA_EMAIL=defraforms@defra.gov.uk

#PAYMENT_PROVIDER_API_KEY_TEST=

PRIVATE_KEY_FOR_SECRETS=
