.DS_Store
.npm/
.vscode
.idea
.public
.server
node_modules
npm-debug.log
coverage
.cache
report.html
report.json
unit-test.html
/dist/
src/server/public/build
/public/build/

.env

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn/build-state.yml
.yarn/install-state.gz
docs/**/typedoc