{% set content = params.html | safe if params.html else params.text %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body" data-testid="app-page-body">
      {{ caller() if caller else content }}
    </div>
  </div>
</div>
