{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-l">Security</h1>

{{ govukSummaryList({
  card: {
    title: {
      text: "Your sign-in details"
    }
  },
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: user.email
      },
      actions: {
        items: [
          {
            href: changeEmailAction,
            text: "Change",
            visuallyHiddenText: "email address",
            classes: "govuk-link--no-visited-state"
          }
        ]
      }
    },
    {
      key: {
        text: "Mobile phone number"
      },
      value: {
        text: user.mobile
      },
      actions: {
        items: [
          {
            href: changeMobileAction,
            text: "Change",
            visuallyHiddenText: "mobile number",
            classes: "govuk-link--no-visited-state"
          }
        ]
      }
    }
  ]
}) }}
