{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Core delivery platform Node.js Frontend Template."
  }) }}

  {% call appPageBody() %}
    <p>
      Welcome to the Frontend Template, a starter kit for Core Delivery Platform Node.js Frontends 🚀
    </p>
    <p>
      Based on <a href="https://github.com/DEFRA/design-standards">DEFRA</a> and <a
              href="https://design-system.service.gov.uk/">GOV.UK</a> best practices this starter kit provides you with
      a deployable, production ready template 🙌🏻 to start your new service with.
    </p>

    <ul>
      <li>
        <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a>
      </li>
      <li>
        <a href="https://hapi.dev">Hapi</a>
      </li>
      <li>
        <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
      </li>
      <li>
        <a href="https://github.com/mozilla/node-convict">Node Convict</a>
      </li>
      <li>
        <a href="https://jestjs.io/">Jest testing</a>
      </li>
      <li>
        <a href="https://webdriver.io">WebdriverIO</a> User Journey testing
      </li>
      <li>GitHub Actions Pull Request and Publish jobs</li>
      <li>
        <a href="https://github.com/pinojs/pino">PinoJs logging</a>
      </li>
      <li>
        <a href="https://standardjs.com">Standard JS</a>
      </li>
      <li>
        <a href="https://eslint.org">ESLint</a>
      </li>
      <li>
        <a href="https://stylelint.io">StyleLint</a>
      </li>
      <li>
        <a href="https://prettier.io">Prettier</a>
      </li>
      <li>and lots more... 😎</li>
    </ul>
  {% endcall %}

{% endblock %}
