$navigation-height: 60px;
$border-bottom-width: 4px;

.app-navigation {
  border-bottom: 1px solid govuk-colour("mid-grey");
  background-color: $app-light-grey;
}

.app-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include govuk-media-query($from: tablet) {
    display: flex;
    height: $navigation-height;
    height: govuk-px-to-rem($navigation-height);
  }
}

.app-navigation__list-item {
  margin: 0 govuk-spacing(2) 0 0;

  > a:focus {
    box-shadow: none;
    border-bottom: $border-bottom-width solid govuk-colour("black");
  }
}

.app-navigation__link {
  @include govuk-link-style-no-visited-state;
  border: 0;
  margin: govuk-spacing(2) 0 govuk-spacing(1);
  padding-bottom: govuk-spacing(1);
  @include govuk-font(24, "bold");
  display: inline-block;
  text-decoration: none;
  border-bottom: 4px solid transparent;

  @include govuk-media-query($from: tablet) {
    padding-bottom: 0;
    margin: 0;
    display: flex;
    height: $navigation-height - $border-bottom-width;
    height: govuk-px-to-rem($navigation-height - $border-bottom-width);
    align-items: center;
  }

  &:hover {
    color: govuk-colour("black");
    border-bottom: $border-bottom-width solid govuk-colour("black");
  }
}

.app-navigation__link--active {
  border-bottom: $border-bottom-width solid govuk-colour("blue");

  &:hover {
    color: govuk-colour("dark-blue");
    border-bottom: $border-bottom-width solid govuk-colour("dark-blue");
  }
}
