{% set availableLanguages = context.translator.languages | default(context.languages) | default(languages) %}
{% if availableLanguages | length %}
  {% set languages = [] %}
  {% for lang in availableLanguages %}
    {% if lang.code === context.translator.language or lang.code === language %}
      {% set languages = (languages.push("<span class=\"govuk-body-s\">" + lang.name + "</span>"), languages) %}
    {% else %}
      {% set newPath = currentPath | applyUrlParam('language', lang.code) %}
      {% set languages = (languages.push("<a href='" + newPath + "' class=\"govuk-link govuk-link--no-visited-state\">" + lang.name + "</a>"), languages) %}
    {% endif %}
  {% endfor %}
  <span class="app-language-options">{{ languages | join(" | ") | safe }}</span>
{% endif %}
