@import "govuk";
@import "accessible-autocomplete/src/autocomplete";

.nojs-hidden {
  display: none;
}

.js-enabled .nojs-hidden {
  display: block;
}

.check-your-answers {
  td {
    position: relative;
    vertical-align: top;

    &.required {
      color: $govuk-error-colour;
    }
  }

  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.icon--check {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 18px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 $govuk-border-width $govuk-border-width;
    border-color: map-get($govuk-colours, "black");
    border-top-color: transparent;
    background: transparent;
  }
}

.govuk-button {
  &--link {
    @extend .govuk-link;
    border: none;
    color: $govuk-link-colour;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      color: $govuk-link-hover-colour;
    }
  }
}
