{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('errors.notFound.heading') }}</h1>
          <p class="govuk-body">{{ t('errors.notFound.body1') }}</p>
          <p class="govuk-body">{{ t('errors.notFound.body2') }}</p>
          <p class="govuk-body">{{ t('errors.notFound.body3') | safe }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
