{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
          <p class="govuk-body">You can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>try your browser back button as your data may be saved</li>
            <li><a class="govuk-link" href="https://www.gov.uk/guidance/contact-defra">Contact the Defra Helpline</a> if you
            have any questions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
