{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ tR('errors.serverError.heading') }}</h1>
          <p class="govuk-body">{{ tR('errors.serverError.canYou') }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ tR('errors.serverError.tryBack') }}</li>
            <li>{{ tR('errors.serverError.contact') | safe }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
