{% extends 'layout.html' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set bodyClasses = "app-page--wide" %}

{% set pageTitle = context.translator.tForm('title') %}

{% set statusTagClasses = {
  inProgress: "govuk-tag--teal",
  expired: "govuk-tag--red",
  deleted: "govuk-tag--red"
} %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if previewMode %}
        {% set previewBannerHtml %}
          <p class="govuk-notification-banner__heading govuk-!-margin-bottom-0">
            {{ tR('signIn.homepage.previewBanner', { state: tR('common.' + previewMode) }) }}
          </p>
        {% endset %}
        {{ govukNotificationBanner({
          titleText: tR('signIn.homepage.previewBannerTitle'),
          html: previewBannerHtml
        }) }}
      {% endif %}

      {% if notification | length %}
        {{ govukNotificationBanner({
          type: "success",
          text: notification
        }) }}
      {% endif %}

      <span class="govuk-caption-l">{{ tR('signIn.homepage.caption') }}</span>
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      {{ govukButton({
        text: tR('signIn.homepage.startButton'),
        href: startUrl,
        classes: "govuk-button--secondary"
      }) }}

      {% if savedForms.length %}
        {% set rows = [] %}
        {% for savedForm in savedForms %}
          {% set statusHtml %}
            {{ govukTag({
              text: tR('signIn.homepage.' + savedForm.status),
              classes: statusTagClasses[savedForm.status]
            }) }}
          {% endset %}

          {% set actionsHtml %}
            {% set showDivider = savedForm.resumeUrl and savedForm.deleteUrl %}
            {% set linkSuffix = savedForm.referenceNumber if savedForm.referenceNumber else tR('signIn.homepage.savedOn', { date: savedForm.lastUpdated }) %}

            {% if savedForm.resumeUrl %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{ savedForm.resumeUrl }}">{{ tR('signIn.homepage.continue') }}<span class="govuk-visually-hidden"> {{ linkSuffix }}</span></a>
            {% endif %}

            {% if showDivider %}
              <span class="govuk-body govuk-!-margin-left-2 govuk-!-margin-right-2">|</span>
            {% endif %}

            {% if savedForm.deleteUrl %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{savedForm.deleteUrl}}">{{tR('signIn.homepage.delete')}}<span class="govuk-visually-hidden"> {{ linkSuffix }}</span></a>
            {% endif %}
          {% endset %}

          {% set rows = (rows.push([
            { text: savedForm.referenceNumber },
            { html: statusHtml },
            { text: savedForm.lastUpdated },
            { text: savedForm.savedUntil },
            { html: actionsHtml }
          ]), rows) %}
        {% endfor %}

        {{ govukTable({
          head: [
            { text: tR('signIn.homepage.referenceNumber') },
            { text: tR('signIn.homepage.status') },
            { text: tR('signIn.homepage.lastUpdated') },
            { text: tR('signIn.homepage.savedUntil') },
            { text: tR('signIn.homepage.actions') }
          ],
          rows: rows
        }) }}
      {% else %}
        <p class="govuk-body">{{ tR('signIn.homepage.noSavedForms') }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
