{% extends 'layout.html' %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">👋 Hello from Defra Forms.</h1>
        <p class="govuk-body">This application is not browsable, it requires a direct link to access the functionality.</p>
        <p class="govuk-body">If you need access, please contact Alex Luckett in the Defra Forms team.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
