{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner -%}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{% from "govuk/macros/attributes.njk" import govukAttributes -%}
{% from "components/service-banner/macro.njk" import appServiceBanner -%}
{% from "components/tag-env/macro.njk" import appTagEnv -%}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}

{% set productName %}
  {% if config.cdpEnvironment !== "prod" %}
    {{ appTagEnv({ env: config.cdpEnvironment }) }}
  {% endif %}
{% endset %}

{% block head %}
  <meta name="application-name" content="@defra/forms-runner" {{- govukAttributes({
    "data-environment": {
      value: config.cdpEnvironment,
      optional: true
    },
    "data-version": {
      value: config.serviceVersion,
      optional: true
    }
  }) }}>

  <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-b542beb274-v2.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="{{ assetPath }}/fonts/light-94a07e06a1-v2.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/application.scss") }}">
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errors | length }}{{ pageTitle | evaluate }} - {{ name if name else config.serviceName }} - GOV.UK
{%- endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    href: '#main-content',
    text: 'Skip to main content'
  }) }}
{% endblock %}

{% block header %}
  {% if config.googleAnalyticsTrackingId and slug %}
    <form method="post" action="/help/cookie-preferences/{{ slug }}?returnUrl={{ currentPath | urlencode }}">
      <input type="hidden" name="crumb" value="{{ crumb }}">

    {% set acceptHtml %}
      <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="/help/cookies/{{ slug }}">change your cookie settings</a> at any time.</p>
    {% endset %}

    {% set rejectedHtml %}
      <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="/help/cookies/{{ slug }}">change your cookie settings</a> at any time.</p>
    {% endset %}

    {% if cookieConsent.analytics !== true and cookieConsent.analytics !== false and cookieConsent.dismissed !== true %}
      {% set html %}
        <p class="govuk-body">We use some essential cookies to make this service work.</p>
        <p class="govuk-body">We’d like to set analytics cookies so we can understand how people use the service and make improvements.</p>
      {% endset %}

      {{ govukCookieBanner({
        ariaLabel: "Cookies on " + config.serviceName,
        messages: [
          {
            headingText: config.serviceName,
            html: html,
            actions: [
              {
                text: "Accept analytics cookies",
                type: "submit",
                name: "cookies[analytics]",
                value: "yes"
              },
              {
                text: "Reject analytics cookies",
                type: "submit",
                name: "cookies[analytics]",
                value: "no"
              },
              {
                text: "View cookies",
                href: "/help/cookies/" + slug
              }
            ]
          }
        ]
      }) }}
    {% elif cookieConsent.dismissed === false %}
      {{ govukCookieBanner({
        ariaLabel: "Cookies on " + config.serviceName,
        messages: [
          {
            html: acceptHtml if cookieConsent.analytics === true else rejectedHtml,
            actions: [
              {
                text: "Hide cookie message",
                type: "submit",
                name: "cookies[dismissed]",
                value: "yes"
              }
            ]
          }
        ]
      }) }}
    {% endif %}

    </form>
  {% endif %}

  {% if config.serviceBannerText | length %}
    {{ appServiceBanner({
      title: "Service status",
      text: config.serviceBannerText
    }) }}
  {% endif %}

  {{ govukHeader({
    homepageUrl: currentPath if context.isForceAccess else "https://www.gov.uk",
    containerClasses: "govuk-width-container",
    productName: productName | safe | trim,
    serviceName: name if name else config.serviceName,
    serviceUrl: currentPath if context.isForceAccess else serviceUrl
  }) }}
{% endblock %}

{% block beforeContent %}
  {% set feedbackLink = feedbackLink or config.feedbackLink -%}
  {% set phaseTag = phaseTag or config.phaseTag -%}

  {% if phaseTag %}
    {% set feedbackLinkHtml -%}
      <a href="{{ currentPath if context.isForceAccess else feedbackLink }}" class="govuk-link" {%- if not context.isForceAccess %} target="_blank" rel="noopener noreferrer" {%- endif %}>
        {%- if "mailto:" in feedbackLink -%}
          give your feedback by email
        {%- else -%}
          give your feedback (opens in new tab)
        {%- endif -%}
      </a>
    {%- endset %}

    {{ govukPhaseBanner({
      tag: { text: phaseTag | capitalize },
      html: "This is a new service. Help us improve it and " + feedbackLinkHtml | safe + "."
    }) }}
  {% endif %}
  {% if backLink %}
    {{ govukBackLink(backLink) }}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  <script type="module" nonce="{{ cspNonce }}" src="{{ getAssetPath("application.js") }}"></script>

  {% if config.googleAnalyticsTrackingId and cookieConsent.analytics === true %}
  <script id="ga-tag-js-main" nonce="{{ cspNonce }}" src="https://www.googletagmanager.com/gtag/js?id={{ config.googleAnalyticsTrackingId }}" defer></script>
  <script id="ga-tag-js-init" nonce="{{ cspNonce }}">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ config.googleAnalyticsTrackingId }}');
  </script>
{% endif %}
{% endblock %}

{% block footer %}
  {% set meta = {
    items: [
      {
        href: '/help/get-support/' + slug,
        text: 'Get help with this form'
      },
      {
        href: '/help/privacy/' + slug,
        text: 'Privacy'
      },
      {
        href: '/help/cookies/' + slug,
        text: 'Cookies'
      },
      {
        href: '/help/accessibility-statement/' + slug,
        text: 'Accessibility Statement'
      }
    ]
  } if slug %}

  {% if not context.isForceAccess %}
    {{ govukFooter({ meta: meta }) }}
  {% endif %}
{% endblock %}
