{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block head %}
  <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-b542beb274-v2.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-b542beb274-v2.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-affa96571d-v2.woff" type="font/woff" crossorigin="anonymous">
  <link rel="preload" as="font" href="{{ assetPath }}/fonts/light-f591b13f7d-v2.woff" type="font/woff" crossorigin="anonymous">
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />
  <script src="{{ assetPath }}/accessible-autocomplete.min.js"></script>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    href: '#main-content',
    text: 'Skip to main content'
  }) }}
{% endblock %}


{% block header %}
  {{ govukHeader({
    homepageUrl: "https://gov.uk",
    containerClasses: "govuk-width-container",
    serviceName: name if name else serviceName,
    serviceUrl: serviceUrl
}) }}

{% endblock %}

{% block beforeContent %}
    {% if phaseTag %}
        {% if feedbackLink %}
            {{ govukPhaseBanner({
                tag: {
                    text: phaseTag
                },
                html: 'This is a new service – your <a class="govuk-link" href=' + feedbackLink + '>feedback</a> will help us to improve it.'
            }) }}
        {% else %}
            {{ govukPhaseBanner({
                tag: {
                    text: phaseTag
                }
            }) }}
        {% endif %}
    {% endif %}
    {% if backLink %}
        {{ govukBackLink({
            href: '/' + backLink,
            text: "Back"
        }) }}
    {% endif %}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-l">Default page template</h1>
{% endblock %}


{% block bodyEnd %}
  {% include "partials/modal-dialog.html" %}
  <script src="{{ assetPath }}/jquery-3.5.1.min.js"></script>
  <script src="{{ assetPath }}/object-from-entries-polyfill.js"></script>
  <script src="{{ assetPath }}/all.js"></script>
  <script src="{{ assetPath }}/govuk-template.js"></script>
  <script src="{{ assetPath }}/dialog-polyfill.0.4.3.js"></script>
  <script src="{{ assetPath }}/modal-dialog.js"></script>
  <script src="{{ assetPath }}/upload-dialog.js"></script>

  <script>
    $(document).ready(function () {
        GOVUKFrontend.initAll()

      {% if not skipTimeoutWarning %}
        GOVUKFrontend.modalDialog.containerSelector = '#main-content'
        GOVUKFrontend.modalDialog.idleMinutesBeforeTimeOut = Number('{{ (sessionTimeout / 60000) - 1 }}')
          - GOVUKFrontend.modalDialog.minutesTimeOutModalVisible
        GOVUKFrontend.modalDialog.init()
      {% endif %}
    });
  </script>
{% endblock %}


{% block footer %}
    {{ govukFooter({
        meta: {
            items: [{
                href: '/help/privacy',
                text: 'Privacy'
            }, {
                href: '/help/cookies',
                text: 'Cookies'
            }, {
                href: '/help/accessibility-statement',
                text: 'Accessibility Statement'
            }]
        }
    }) }}
{% endblock %}
