{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner -%}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{% from "govuk/macros/attributes.njk" import govukAttributes -%}
{% from "components/service-banner/macro.njk" import appServiceBanner -%}
{% from "components/tag-env/macro.njk" import appTagEnv -%}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}

{% set productName %}
  {% if cdpEnvironment !== "prod" %}
    {{ appTagEnv({ env: cdpEnvironment }) }}
  {% endif %}
{% endset %}

{% block head %}
  <meta name="application-name" content="@defra/forms-runner" {{- govukAttributes({
    "data-environment": {
      value: cdpEnvironment,
      optional: true
    },
    "data-version": {
      value: serviceVersion,
      optional: true
    }
  }) }}>

  <link rel="preload" as="font" href="{{ assetPath }}/fonts/bold-b542beb274-v2.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="{{ assetPath }}/fonts/light-94a07e06a1-v2.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ getAssetPath("stylesheets/application.scss") }}">
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errors | length }}{{ pageTitle }} - {{ name if name else serviceName }} - GOV.UK
{%- endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    href: '#main-content',
    text: 'Skip to main content'
  }) }}
{% endblock %}

{% block header %}
  {% if googleAnalyticsTrackingId and (cookieConsent.analytics !== true and cookieConsent.analytics !== false) %}
    <form method="post" action="/help/cookie-preferences">
      {% set html %}
        <p class="govuk-body">We use some essential cookies to make this service work.</p>
        <p class="govuk-body">We’d like to set analytics cookies so we can understand how people use the service and make improvements.</p>
      {% endset %}

      {% set acceptHtml %}
        <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="/help/cookies">change your cookie settings</a> at any time.</p>
      {% endset %}

      {% set rejectedHtml %}
        <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="/help/cookies">change your cookie settings</a> at any time.</p>
      {% endset %}

      {{ govukCookieBanner({
        ariaLabel: "Cookies on " + serviceName,
        messages: [
          {
            headingText: serviceName,
            html: html,
            actions: [
              {
                text: "Accept analytics cookies",
                type: "submit",
                name: "cookies[analytics]",
                value: "yes"
              },
              {
                text: "Reject analytics cookies",
                type: "submit",
                name: "cookies[analytics]",
                value: "no"
              },
              {
                text: "View cookies",
                href: "/help/cookies"
              }
            ]
          }
        ]
      }) }}
    </form>
  {% endif %}

  {% if serviceBannerText | length %}
    {{ appServiceBanner({
      title: "Service status",
      text: serviceBannerText
    }) }}
  {% endif %}

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    containerClasses: "govuk-width-container",
    productName: productName | safe | trim,
    serviceName: name if name else serviceName,
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% block beforeContent %}
    {% if phaseTag %}
        {% if 'mailto:' in feedbackLink %}
            {{ govukPhaseBanner({
                tag: {
                    text: phaseTag | capitalize
                },
                html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="' + feedbackLink | escape + '">give your feedback by email</a>.'
            }) }}
        {% else %}
            {{ govukPhaseBanner({
                tag: {
                    text: phaseTag | capitalize
                },
                html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="' + feedbackLink | escape + '">give your feedback (opens in new tab)</a>.'
            }) }}
        {% endif %}
    {% endif %}
    {% if backLink %}
        {{ govukBackLink({
            href: '/' + backLink,
            text: "Back"
        }) }}
    {% endif %}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-l">Default page template</h1>
{% endblock %}


{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath("application.js") }}"></script>

  {% if googleAnalyticsTrackingId and cookieConsent.analytics === true %}
  <script data-testid="ga-tag-js-main" src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsTrackingId }}" defer></script>
  <script data-testid="ga-tag-js-init">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ googleAnalyticsTrackingId }}');
  </script>
{% endif %}
{% endblock %}

{% block footer %}
    {{ govukFooter({
        meta: {
            items: [{
                href: '/help/get-support' + ('/' + slug if slug),
                text: 'Get help with this form'
            }, {
                href: '/help/privacy' + ('/' + slug if slug),
                text: 'Privacy'
            }, {
                href: '/help/cookies',
                text: 'Cookies'
            }, {
                href: '/help/accessibility-statement',
                text: 'Accessibility Statement'
            }]
        }
    }) }}
{% endblock %}
