{% extends 'layout.html' %}

{% from "partials/summary-detail.html" import summaryDetail %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previewMode %}
        {% include "partials/preview-banner.html" %}
      {% endif %}

      {% if showErrorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: "Complete all unanswered questions before submitting the form." }]
        }) }}
      {% endif %}

      {% if notificationEmail is undefined %}
        {{ govukWarningText({
          html: 'If you want to receive a test email, <a href="' + designerUrl + '"/library/"' + slug + '"/edit/notification-email" target="_blank" class="govuk-link"> enter the email address (opens in new tab)</a>" you want form submissions to go to.',
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      {% for detail in details %}
        {{ summaryDetail(detail) }}
      {% endfor %}

      <form method="post" autocomplete="off" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}">

        {% if declaration %}
          <h2 class="govuk-heading-m" id="declaration">Declaration</h2>
          {{ declaration | safe }}
        {% endif %}

        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">{{ "Accept and Send" if declaration else "Send" }}</button>
      </form>
    </div>
  </div>
{% endblock %}
