{% extends "layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle
      }) }}
      <h1 class="govuk-heading-l">{{ tR('saveAndExit.confirmation.whatHappensNext') }}</h1>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.answersSaved', { days: saveAndExitExpiryDays }) }}
      </p>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.emailedLinkForSignIn', { formName: name }) }}
      </p>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.repeatSave') }}
      </p>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.checkSpam') }}
      </p>

      {{ govukButton({
          text: tR('saveAndExit.confirmation.back'),
          href: backLink,
          attributes: {
            'data-testid': 'back-button'
          }
        })
      }}
    </div>
  </div>
{% endblock %}
