{% from "govuk/components/warning-text/macro.njk" import govukWarningText -%}

{%- macro _message(params) %}
  <span class="govuk-!-font-weight-bold" aria-hidden="true">{{ params.title }}:</span>
  <span class="app-service-banner__text">{{ params.text if params.text else params.html | safe }}</span>
{% endmacro -%}

{%- macro _iconFallback(params) %}
  <span id="app-service-banner-description">{{ params.title }}</span>
{% endmacro -%}

<aside class="app-service-banner" aria-labelledby="app-service-banner-description" aria-live="polite">
  <div class="govuk-width-container">
    {{ govukWarningText({
      html: _message(params) | trim | indent(2),
      iconFallbackText: _iconFallback(params) | safe | trim,
      classes: "app-service-banner__content"
    }) | trim | indent(4) }}
  </div>
</aside>
