{% extends "layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle
      }) }}
      <h1 class="govuk-heading-l">What happens next</h2>
      <p class="govuk-body">
        We have sent a one-off link to {{ email }} which you can use to resume this form within {{ saveAndExitExpiryDays }} days.
      </p>
      <p class="govuk-body">
        This link will only work once.
        If you want to save your progress again after resuming your form, you will need to repeat the save process to generate a new link.
      </p>
      <p class="govuk-body">
        Check your spam folder if you have not received an email after a few minutes.
      </p>
      <p class="govuk-body">
        You can close this window.
      </p>
    </div>
  </div>
{% endblock %}
