{% extends "layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: pageTitle
      }) }}
      <h1 class="govuk-heading-l">{{ tR('saveAndExit.confirmation.whatHappensNext') }}</h1>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.linkSent', { email: email, saveAndExitExpiryDays: saveAndExitExpiryDays }) }}
      </p>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.repeatSave') }}
      </p>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.checkSpam') }}
      </p>
      <p class="govuk-body">
        {{ tR('saveAndExit.confirmation.closeWindow') }}
      </p>
    </div>
  </div>
{% endblock %}
