{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Welcome back to your form</h1>
      <p class="govuk-body">
        You will return to the page where you saved your progress unless new questions have been added to the form.
      </p>

      {{ govukWarningText({
        text: "If new questions have been added to the form, you will be taken to the earliest new question.",
        iconFallbackText: "Warning"
      }) }}

      <p class="govuk-body">
        You will need to repeat the save process again and generate a new link if you want to save your progress in the future.
      </p>
      <form method="post">
        <div class="govuk-button-group">
          {{ govukButton(buttons.continueButton) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
