{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">
        Enter the answer to your security question to retrieve your information and continue with your form.
      </p>
      <p class="govuk-body">
        You have 3 attempts to enter your answer. Make sure your answer matches the exact style and format when used when saving your progress.
      </p>
      <form method="post">
        <input type="hidden" name="crumb" value="{{ crumb }}">
        {{ govukInput(fields.securityAnswer) }}

        {{ govukWarningText({
          text: "This will use up your save link. To save progress again, you will need to repeat the save process and generate another link.",
          iconFallbackText: "Warning"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton(buttons.continueButton) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
