{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors | length %}
        {{ govukErrorSummary({
          titleText: t('saveAndExit.resumePassword.errorTitle'),
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">
        {{ t('saveAndExit.resumePassword.body1') }}
      </p>
      <p class="govuk-body">
        {{ t('saveAndExit.resumePassword.attemptsLeft', { attemptsLeft: attemptsLeft }) }}
      </p>
      <form method="post">
        <input type="hidden" name="crumb" value="{{ crumb }}">
        {{ govukInput(fields.securityAnswer) }}

        {{ govukWarningText({
          text: t('saveAndExit.resumePassword.warning'),
          iconFallbackText: t('saveAndExit.resumePassword.warningIconFallback')
        }) }}

        <div class="govuk-button-group">
          {{ govukButton(buttons.continueButton) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
