{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">
        {{ tR('saveAndExit.resumeSuccess.body1') }}
      </p>

      {{ govukWarningText({
        text: tR('saveAndExit.resumeSuccess.warning'),
        iconFallbackText: tR('saveAndExit.resumeSuccess.warningIconFallback')
      }) }}

      <p class="govuk-body">
        {{ tR('saveAndExit.resumeSuccess.body2') }}
      </p>
      <form method="post" action="#">
        <div class="govuk-button-group">
          {{ govukButton(buttons.continueButton) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
