name: Publish Hot Fix

on:
  push:
    branches:
      - 'releases/**'

    paths:
      - '.browserslistrc'
      - 'babel.config.*'
      - 'postcss.config.*'
      - 'webpack.config.*'
      - 'Dockerfile'
      - 'src/**'
      - '!**/*.test.*'

  workflow_dispatch:

concurrency:
  group: publish-hotfix

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: '094954420758'

jobs:
  build:
    name: CDP-build-workflow
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Build and Publish Hot Fix
        uses: DEFRA/cdp-build-action/build-hotfix@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
